* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

main {
    background-color: #d9d9d9;
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
    padding: 0 70px;
}

section {
    background-color: #fff;
    border-radius: 20px;
    padding: 25px;
}

.section-metricas {
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 16px 8px;
    border-radius: 16px;
}

.section-metricas > div {
    padding: 12px 30px;
    border-radius: 20px;
}

.div-adoção {
    background: radial-gradient(#ffffff2a, #5383EC);
}

.div-engaj {
    background: radial-gradient(#ffffff2a, #9C55EC);
}

.div-reten {
    background: radial-gradient(#ffffff2a, #111E5F);
}

.div-sucess {
    background: radial-gradient(#ffffff2a, #F1911E);
}

.section-metricas, .section-vendas {
    grid-column: span 2;
}

.section-felicidade, .section-engaj {
    padding: 25px;
}

.section-felicidade {
text-align: center;
}

.section-felicidade h1 {
    text-align: left;
    margin-bottom: 70px;
}